QCheckBox {
    background-color: #1d1f21;
}

QCheckBox:disabled {
    border: #969896;
    color: #969896;
}

QCheckBox:enabled {
    color: #c5c8c6;
}

QCheckBox::indicator {
    width: 25px;
    height: 25px;
}
